<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--GOOGLE PLACES JS FILES / LINKS-->
    <!--https://www.script-tutorials.com/google-places-api-practice/-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <!-- - - - - - - -->

    <!--USE THE FULL JS FILES FOR DEVELOPMENT-->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <!-- - - - - - - -->

    <!--USE THE .MIN.JS FILES FOR 'GO-LIVE'-->
    <!--<script src="/javascripts/jquery.min.js"></script>-->
    <!--<script src="/javascripts/angular.min.js"></script>-->
    <!--<script src="/javascripts/angular-route.min.js"></script>-->
    <!-- - - - - - - -->

    <!--APP AND CONTROLLER FILES BELOW-->
    <script src="/javascripts/app.js"></script>

    <!-- - - - - - - -->


</head>
<body>

    <h3>Add a comment about this potty</h3>

    <hr>

</body>
</html>
