<!DOCTYPE html>
<html ng-app="pottyCheck">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/skeleton/css/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton/css/skeleton.css">
    <!--GOOGLE PLACES JS FILES / LINKS-->
    <!--https://www.script-tutorials.com/google-places-api-practice/-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   <!--  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> -->
    <!-- - - - - - - -->

    <!--USE THE FULL JS FILES FOR DEVELOPMENT-->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.js"></script>
     <script src="/javascripts/angular-route.min.js"></script>


    <!-- - - - - - - -->

    <!--USE THE .MIN.JS FILES FOR 'GO-LIVE'-->
    <!--<script src="/javascripts/jquery.min.js"></script>-->
    <!--<script src="/javascripts/angular.min.js"></script>-->
    <!--<script src="/javascripts/angular-route.min.js"></script>-->
    <!-- - - - - - - -->

    <!--APP AND CONTROLLER FILES BELOW-->

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/app.PostsCtrl.js"></script>
    <script src="/javascripts/app.CreatePostCtrl.js"></script>
    <script src="/javascripts/app.DeletePostCtrl.js"></script>
    <script src="/javascripts/app.CommentsCtrl.js"></script>
    <!-- - - - - - - -->


  </head>
  <body>
<!-- <header>
        <a class="button button-primary" href='/create'>Create your potty post</a>
        <a class="button button-primary" href='/comments'>Make a comment about a potty</a>
    </ul>
</header> -->
<!-- <header>
  <ul>
        <a class="button button-primary" href='/create'>Create your potty post</a>
        <a class="button button-primary" href='/login'>LOGIN</a>
  </ul>
  <hr>
</header> -->


    <div ng-view></div>
  </body>
</html>
