/*Nav Bar
-----------------------------------------------------------*/

#nav .nav-home a {
   /* background-position: 0 -68px;*/
    background: #249ce0;
    width:100%;
    
}

#nav .page .nav-home a {
  background: #249ce0;
    border-left: none;
    width: 68px;
    height: 68px;
    overflow: hidden;
    position: relative;
    padding: 0;
    background: transparent url(/stylesheets/Skeleton/images/toilet.jpeg) no-repeat 0 -68px;

}

#nav .page li a {
    border-left: 1px dashed rgba(255, 255, 255, 0.3);
    background: #249ce0;
    display: block;
    line-height: 1;
    padding: 15px 0;
    color: black;
    /*width: 50%;*/
    font-family: "adelle-sans", helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    text-transform: none;
    letter-spacing: 0;
    margin:0;
    
}

#nav a {
    visibility: visible;
}

a {
    color: #249ce0;
    text-decoration: none;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

::selection {
    background: #ffcb5f;
    color: #000;
    text-shadow: none;
}

li {
    list-style-type: none;
    display: inline-block;
    width: 18%;
    text-align: center;
    /*margin-left: 18px;*/
    /*padding-left: 10px;*/


}

ul{
    background: #249ce0;
    display: block;
    padding-left: 130px;
    padding-top: 20px;
    /*list-style-type: disc;*/
    -webkit-margin-before: 1em;
    /*-webkit-margin-after: 1em;*/
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    /*-webkit-padding-start: 40px;*/
    margin-top: 0px;
    padding-bottom: 10px;
}
ul.page {
    padding-left: 0px;
}

/*li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/
/*
ADMIN PAGE
___________________________________________________*/
#admin-header {
    background-color: #249ce0;
    height: 100px;
    text-align: center;

}

#adminparas {
margin-top: 15px;
}

#adminsection {
   /* background: transparent url(/m/content/logo-nav-sprite.png) no-repeat 0 -68px;*/
    background: transparent url(/stylesheets/Skeleton/images/bubbles.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 365px;
    margin:0;
}

#toilet {
    width: 96px;
    height: 96px;
}

.row {
    height: 60px;
    position: fixed;
}

.button{
  padding-top: 5px;
}

a.button.button-primary {
    margin-top: 10px;
    background-color: white;
    color: black;
    margin-left: 250px;
    width: 200px;

}

/*COMMENTS
-------------------------------------------------*/
div#comments.container {
    width: 75%;
    padding-top: 150px;
}
div#comments.container.ng-scope {
    padding-top: 20px;
    padding-left: 70px;
    height: 400px;
    border: solid 5px black;
    border-radius: 15px;
    position: fixed;
    margin-left: 250px;
}

/*h1.ng-scope {
    text-align: center;*/
    /* background-color: #249ce0; 
  /*  width: 50%;
    margin-left: 25%;*/
    /* margin-left: 410px; */
    /*margin-bottom: 25px;*/
/*}*/
/*CREATE PAGE
-------------------------------------------------*/
div#create.container.ng-scope {
    padding-top: 20px;
    padding-left: 70px;
    height: 400px;
    border: solid 5px black;
    border-radius: 15px;
    position: fixed;
    margin-left: 250px;
}

h1.ng-scope {
    text-align: center;
    /* background-color: #249ce0; */
    width: 50%;
    margin-left: 25%;
    /* margin-left: 410px; */
    margin-bottom: 25px;
}

/*LOGIN
_________________________________________________*/

h1.ng-scope {
    text-align: center;
    /*background-color: #249ce0;*/
    width: 50%;
    margin-left: 25%;
   /* margin-left: 410px;*/
    margin-bottom: 40px;
}

div#loginbody {
    background: transparent url(/stylesheets/Skeleton/images/bubbles.jpg) no-repeat center center fixed;
    height: 550px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

/*REGISTER
_________________________________________________*/

h1.ng-scope {
    text-align: center;
    /*background-color: #249ce0;*/
    width: 50%;
    margin-left: 25%;
   /* margin-left: 410px;*/
    margin-bottom: 40px;
}

div#registerbody {
    background: transparent url(/stylesheets/Skeleton/images/bubbles.jpg) no-repeat center center fixed;
    height: 550px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

footer {
    float:clear;
}
/*# sourceMappingURL=style.css.map */


