<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<header role="banner" id="nav-wrap">
    <div id="nav" class="headroom headroom--top">
        <ul role="navigation" class="page">
            <li>
                <a class="active" href="/create">Post a potty</a>
            </li>
            <li>
                <a class="active" href="/comments">Potty Comments</a>
            </li>
            <li>
                <a href="/home" title="Home | PottyCheck"><img id="toilet" src="/stylesheets/Skeleton/images/unirestroom.png" alt="Potty pic"></a>
            </li>
            <li> 
                <a href="/locate">Find a Potty</a>
            </li>
            <li> 
                <a href="/logout">Log Out</a>
            </li>
            <!-- ::after -->
        </ul>
    </div>
</header>


<h1>Your Comments Form</h1>
<style type="text/css">
    .container {
        width: 900px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }

</style>

<div class="container" id="comments">

<form ng-submit="createComment(publicly_accessible, cleanliness, family_friendly, gender, pictures, comment, user_submission, date, tags)">

<div style="left:300px;" class="row">
        <div style="margin-left: 30px; width: 220px" class="four columns">
            <label style="width: 200px;" for="publicaccessibility">Is This Publicly Accessible?</label>
            <select style="width: 230px;" type="text" ng-model="publicly_accessible">
                <option value="Yes">yes</option>
                <option value="No">no</option>
            </select>       
        </div>

        <div style="width: 220px" class="four columns">
            <label style="margin-left: 20px;width: 200px;"  for="cleanliness">How Clean Is It?</label>
            <select style="margin-left: 20px; width: 200px;" type="text" ng-model="cleanliness">
                <option value="1">very dirty</option>
                <option value="2">somewhat dirty</option>
                <option value="3">neither clean nor dirty</option>
                <option value="4">somewhat clean</option>
                <option value="5">very clean</option>
            </select>       
        </div>


        <div class="four columns">
            <label for="familyfriendly">Is This Family Friendly?</label>
            <select style="width: 220px;" type="text" ng-model="family_friendly">
                <option value="Yes">yes</option>
                <option value="No">no</option>
            </select>       
        </div>
    
        <div class="four columns">
            <label style="margin-left: 30px;" for="gender">Is This Gender Specific?</label>
            <select style="margin-left: 30px; width: 150px;" type="text" ng-model="gender">
                <option value="Yes">yes</option>
                <option value="No">no</option>
            </select>       
        </div>
    
<!--          <div class="four columns">
            <label for="pictures">Upload picture?</label>
            <input type="text" ng-model="pictures" placeholder="Upload picture?">
        </div> -->
    
         <div class="four columns">
            <label for="comment">Your Comments:</label>
            <input class="u-full-width" type="text" ng-model="comment" placeholder="Your comments.">
        </div>

<!--         <div class="four columns">
            <label for="user_submission">Name</label>
            <input type="text" ng-model="usersubmission" placeholder="Name">
        </div> -->
    
<!--         <div class="four columns">
            <label for="date">The date of your visit.</label>
            <input type="text" ng-model="date" placeholder="The date of your visit.">
        </div> -->
    
<!--         <div class="four columns">
            <label for="tags"></label>
            <input type="text" ng-model="tags" placeholder="tags">
        </div> -->

        <br>

        <input style="margin-top: 30px; margin-left: 280px;" class="button button-primary" type="submit" value="Add Post">
</form>

</div>

<script>
    function getBase64(file) {
        var reader = new FileReader();
        console.log(file);
        reader.readAsDataURL(file);
        reader.onload = function () {
            console.log(reader.result);
            hiddenFile[0].value = reader.result;
            console.log(hiddenFile[0].value)


            return(reader.result);
        };
        reader.onerror = function (error) {
            console.log('Error: ', error);
        };
    }


    var file = $('input[type="file"]')
    var hiddenFile = $('input[type="hidden"]');

    file.on('change', function () {
        console.log('this is clicking')
        var fileConvert = file[0].files[0]
        console.log(fileConvert)
        getBase64(fileConvert)
    });

</script>

</body>
</html>

