<h3>Add a comment about this potty</h3>

<hr>

<!--<form ng-submit="createPost(title, contents, tags)">-->
    <!--<input type="text" ng-model="comment"     placeholder="Please add a comment about this bathroom">-->
    <!--<input type="text" ng-model="cleanliness"  placeholder="Blog contents here">-->
    <!--<input type="text" ng-model="tags"      placeholder="Add,tags,like,this">-->
    <!--<input type="submit" value="Add Post">-->

<!--</form>-->

<!--<form method="post">-->
    <!--<select name="Icecream Flavours">-->
        <!--<option value="double chocolate">Double Chocolate</option>-->
        <!--<option value="vanilla">Vanilla</option>-->
        <!--<option value="strawberry">Strawberry</option>-->
        <!--<option value="caramel">Caramel</option>-->
    <!--</select>-->
<!--</form>-->