<header role="banner" id="nav-wrap">
  <div id="nav" class="headroom headroom--top">
    <ul role="navigation" class="page">
      <li>
        <a class="active" href="/create">Post a potty</a>
      </li>
      <li>
        <a class="active" href="/comments">Potty Comments</a>
      </li>
      <!-- <li>
        <a href="/home">Home</a>
      </li> -->
      <li>
        <a href="/home" title="Home | PottyCheck"><img id="toilet" src="/stylesheets/images/unirestroom.png" alt="Potty pic"></a>
      </li>
      <li> 
        <a href="/locate">Find a Potty</a>
      </li>
      <li> 
        <a href="/logout">Log Out</a>
      </li>
      <!-- ::after -->
    </ul>
  </div>
</header>


<h1>Your Restroom Post</h3>
<style type="text/css">
    .container {
        width: 900px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }
</style>

<div class="container" id="create">
<form ng-submit="createPost(facility_name, address, publicly_accessible, cleanliness, family_friendly, gender)">
  <div style="left:300px;" class="row">
    <div class="four columns">
      <label for="facility-name">Location Name</label>
      <input class="u-full-width" type="text" ng-model="facility_name" placeholder="Location Name">
    </div>
    <div class="three columns">
      <label style="width: 200px;"for="addresses">Where's Your Location</label>
      <input style="width: 230px;" class="u-full-width" type="text" ng-model="address" placeholder="Where's Your Location">
    </div>
    <div>
    <!--   <label for="latitudes"></label> -->
      <input type="hidden" ng-model="latitude">
    </div>
    <div>
    <!--   <label for="longitudes"></label> -->
      <input type="hidden" ng-model="longitude">
    </div>
    <div class="three columns" style="margin-left: 10px; width: 220px">
      <label style="margin-left: 50px; width: 200px;" for="publicaccessibility">Is This Publicly Accessible?</label>
      <select style="width: 100px; margin-left: 50px;" class="u-full-width" type="text" ng-model="publicly_accessible">
          <option value="Yes">yes</option>
          <option value="No">no</option>
      </select>   
    </div>
    <div style="margin-top: 30px; margin-left: 30px;" class="three columns">
      <label for="cleanliness">How Clean Is It?</label>
      <select style="margin-left: 0px; width: 210px;" class="u-full-width" type="text" ng-model="cleanliness">
        <option value="1">very dirty</option>
        <option value="2">somewhat dirty</option>
        <option value="3">neither clean nor dirty</option>
        <option value="4">somewhat clean</option>
        <option value="5">very clean</option>
      </select>   
    </div>
    <div style="margin-top: 30px;" class="three columns">
      <label style="margin-left: 30px; width: 200px;" for="familyfriendly">Is This Family Friendly?</label>
      <select style="margin-left: 30px;" class="u-full-width" type="text" ng-model="family_friendly">
        <option value="Yes">yes</option>
        <option value="No">no</option>
      </select>   
    </div>
    <div style="margin-top: 30px;" class="three columns">
      <label style="margin-left: 50px; width: 200px;" for="gender">Is This Gender Specific?</label>
      <select style="margin-left: 50px;" class="u-full-width" type="text" ng-model="gender">
        <option value="Yes">yes</option>
        <option value="No">no</option>
      </select>   
    </div>
     <div>
      <label for="user_submissions"></label> -
      <input type="hidden" ng-model="user_submission">
    </div>
    <input style="margin-left: 265px; margin-top: 50px;" class="button button-primary" type="submit" ng-click="reset()" value="Add Post">
   <!--  <button ng-click="reset()">RESET</button> not working-->
  </div>
</form>
</div>

<footer>
      &copy 2016 Potty Check 
</footer>


<!-- <h1>Your Restroom Post</h1>

<h2>this is the /create page</h2>

      <p>{{message}}</p>

<form ng-submit="createPost(facility_name, address, publicly_accessible, cleanliness, family_friendly, gender)">
	<div class="row">
		 <div class="four columns">
		 	<label for="facility-name">Location Name</label>
		 	<input class="u-full-width" type="text" ng-model="facility_name" placeholder="Location Name">
 		</div>

 		 <div class="three columns">
		 	<label for="addresses">Where's Your Location</label>
		 	<input class="u-full-width" type="text" ng-model="address" placeholder="Where's Your Location">
 		</div>

 		<div class="three columns">
		 	<label for="publicaccessibility">Is This Publicly Accessible?</label>
		 	<select class="u-full-width" type="text" ng-model="publicly_accessible">
 			 	  <option value="Yes">yes</option>
        	<option value="No">no</option>
 			</select>		
 		</div>
    
    <div class="three columns">
		 	<label for="cleanliness">How Clean Is It?</label>
		 	<select class="u-full-width" type="text" ng-model="cleanliness">
        <option value="1">very dirty</option>
        <option value="2">somewhat dirty</option>
        <option value="3">neither clean nor dirty</option>
        <option value="4">somewhat clean</option>
        <option value="5">very clean</option>
 			</select>		
 		</div>
    
    <div class="three columns">
		 	<label for="familyfriendly">Is This Family Friendly?</label>
		 	<select class="u-full-width" type="text" ng-model="family_friendly">
 			 	<option value="Yes">yes</option>
        <option value="No">no</option>
 			</select>		
 		</div>
    
    	<div class="three columns">
		 	<label for="gender">Is This Gender Specific?</label>
		 	<select class="u-full-width" type="text" ng-model="gender">
 			 	<option value="Yes">yes</option>
        <option value="No">no</option>
 			</select>		
 		</div>
   
    <input class="button button-primary" type="submit" value="Add Post">

    	
    </div>
</form> -->

<!-- <form>
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Your email</label>
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
    </div> -->
    <!-- <div class="six columns">
      <label for="exampleRecipientInput">Reason for contacting</label>
      <select class="u-full-width" id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
    </div>
  </div>
</header>


<h1 id="restroomheader" >Your Restroom Post</h3>
<style type="text/css">
    .container {
        width: 900px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }
</style>
<!-- this div is new -->
<!-- <div ng-controller="CreatePostCtrl as ctrl"> -->
  <div class="container" id="create">
    <form ng-submit="createPost(facility_name, address, publicly_accessible, cleanliness, family_friendly, gender)">
      <div style="margin-left:-45px;" class="row">
         <div class="four columns">
          <label for="facility-name">Location Name</label>
          <input class="u-full-width" type="text" ng-model="facility_name" placeholder="Location Name">
        </div>
        <div class="three columns">
          <label style="width: 200px;"for="addresses">Where's Your Location</label>
          <input style="width: 230px;" class="u-full-width" type="text" ng-model="address" placeholder="Where's Your Location">
        </div>
        <div>
        <!--   <label for="latitudes"></label> -->
          <input type="hidden" ng-model="latitude">
        </div>
        <div>
        <!--   <label for="longitudes"></label> -->
          <input type="hidden" ng-model="longitude">
        </div>
        <div class="three columns" style="margin-left: 10px; width: 220px">
          <label style="margin-left: 50px; width: 200px;" for="publicaccessibility">Is This Publicly Accessible?</label>
          <select style="width: 100px; margin-left: 50px;" class="u-full-width" type="text" ng-model="publicly_accessible">
              <option value="Yes">yes</option>
              <option value="No">no</option>
          </select>   
        </div>
        <div style="margin-top: 30px; margin-left: 30px;" class="three columns">
          <label for="cleanliness">How Clean Is It?</label>
          <select style="margin-left: 0px; width: 210px;" class="u-full-width" type="text" ng-model="cleanliness">
            <option value="1">very dirty</option>
            <option value="2">somewhat dirty</option>
            <option value="3">neither clean nor dirty</option>
            <option value="4">somewhat clean</option>
            <option value="5">very clean</option>
          </select>   
        </div>
        <div style="margin-top: 30px;" class="three columns">
          <label style="margin-left: 30px; width: 200px;" for="familyfriendly">Is This Family Friendly?</label>
          <select style="margin-left: 30px;" class="u-full-width" type="text" ng-model="family_friendly">
            <option value="Yes">yes</option>
            <option value="No">no</option>
          </select>   
        </div>
          <div style="margin-top: 30px;" class="three columns">
          <label style="margin-left: 50px; width: 200px;" for="gender">Is This Gender Specific?</label>
          <select style="margin-left: 50px;" class="u-full-width" type="text" ng-model="gender">
            <option value="Yes">yes</option>
            <option value="No">no</option>
          </select>   
        </div>
         <div>
          <label for="user_submissions"></label> -
          <input type="hidden" ng-model="user_submission">
        </div>
        <input style="margin-left: 265px; margin-top: 50px;" class="button button-primary" ng-click="reset()" type="submit" value="Add Post">
        </div>
    </form>
  </div>
<!-- </div> -->

</body>
 <!-- <script>
function myFunction() {
    document.getElementById("myForm").reset();
}
</script> -->
<!-- <script>
  angular.module('PottyCheck', [])
    .controller('CreatePostCtrl', ['$scope', function($scope) {
      $scope.master = {};

      $scope.update = function(user) {
        $scope.master = angular.copy(user);
      };

      $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
      };

      $scope.reset();
    }]);
</script> -->
 </html>
