<h1>Potty Check Return User</h1>


<form ng-submit="loginAccount(username, email, password)">

	<div class="row">

		<div class="four columns">
		 	<label for="username">Your name</label>
		 	<input class="u-full-width" type="text" ng-model="username" placeholder="Location Name" required>
 		</div>

<!--  		<div class="four columns">
		 	<label for="email">Email</label>
		 	<input class="u-full-width" type="text" ng-model="email" placeholder="email" required>
 		</div> -->

 		<div class="four columns">
		 	<label for="password">Password</label>
		 	<input class="u-full-width" type="text" ng-model="password" placeholder="password" required>
 		</div>

		<input class="button button-primary" type="submit" value="Login">
	</div>

</form>

      <p>{{message}}</p>


<!-- <h1>Potty Check Return User</h1>

{{message}}

<form ng-submit="loginAccount(username, password)">
    <input type="text" ng-model="username" placeholder="Username">
    <input type="text" ng-model="password" placeholder="password">
    <input type="submit" value="Log In">
</form> -->

